<html>
    <title>Home</title>
    <h1>Minhas habilidades com front-end sao muito pequenas. Trabalho com backend e Visao computacional</h1>
    <p style="font-size:20px;" ">Acesse 127.0.0.1:8000/docs, ha uma otima documentacao da API!</p>

    <p style="font-size:25px;" ">A deteccao de objetos de ambos modelos suporta as seguintes classes (COCO):</p>
    <div>
        <div>'__background__', 'person', 'bicycle', 'car', 'motorcycle', 'airplane', 'bus',</div>
        <div>'train', 'truck', 'boat', 'traffic light', 'fire hydrant', 'N/A', 'stop sign',</div>
        <div>'parking meter', 'bench', 'bird', 'cat', 'dog', 'horse', 'sheep', 'cow',</div>
        <div>'elephant', 'bear', 'zebra', 'giraffe', 'N/A', 'backpack', 'umbrella', 'N/A', 'N/A',</div>
        <div>'handbag', 'tie', 'suitcase', 'frisbee', 'skis', 'snowboard', 'sports ball',</div>
        <div>'kite', 'baseball bat', 'baseball glove', 'skateboard', 'surfboard', 'tennis racket',</div>
        <div>'bottle', 'N/A', 'wine glass', 'cup', 'fork', 'knife', 'spoon', 'bowl',</div>
        <div>'banana', 'apple', 'sandwich', 'orange', 'broccoli', 'carrot', 'hot dog', 'pizza',</div>
        <div>'donut', 'cake', 'chair', 'couch', 'potted plant', 'bed', 'N/A', 'dining table',</div>
        <div>'N/A', 'N/A', 'toilet', 'N/A', 'tv', 'laptop', 'mouse', 'remote', 'keyboard', 'cell phone',</div>
        <div>'microwave', 'oven', 'toaster', 'sink', 'refrigerator', 'N/A', 'book',</div>
        <div>'clock', 'vase', 'scissors', 'teddy bear', 'hair drier', 'toothbrush'</div>
    </div>
    <p>&nbsp;</p>
</html>
